[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pdt"]
	path = pdt
	url = https://github.com/cran/pdt
	shallow = true
	registered = true
